/* Centralização e efeitos */

.ajude-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-neutro-2);
}

.row-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.titulo-ajude {
    border-right: 4px solid;
    overflow: hidden;
    white-space: nowrap;
    font-family: var(--fonte-maquina);
    width: 24ch;
    font-size: 3.7rem; /* Ajuste para dispositivos maiores */
    font-weight: 500;
    animation: typing 3s steps(22), blinking 0.5s infinite step-end alternate;
}

.subtitulo-ajude {
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 3s;
    margin-top: 20px;
}

.center {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}


.Paul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem; /* Ajustado para um tamanho razoável */
    font-style: italic;
    color: var(--cor-acento);
    text-align: center;
    height: 450px;
    transition: opacity 1s ease-in;
}

.container-abrace {
    justify-content: center;
    background-color: var(--cor-acento);
}

.abrace {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.isaque {
    height: 60vh;
    border-radius: 15px;
    background: url('../assets/isaque.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.dificuldade-missão {
    color: #ffffffe8;
    font-size: 1.5rem; /* Ajustado para uma leitura mais confortável */
    font-style: italic;
    justify-content: center;
    text-align: center;
    margin-bottom: 45px;
}

.acolher {
    display: flex;
    justify-content: center;
}

.referencia {
    color: #fff;
    transition: 0.75s ease-in-out;
}

.referencia:hover {
    color: var(--cor-neutro-1);
}

.foto-acolher {
    height: 70vh;
    width: 100%;
    background: url('../assets/Guine-43.jpg');
    background-position: center;
    background-size: cover;
}

.texto-acolher {
    color: #fff;
    font-size: 1.375rem; /* Ajustado para facilitar leitura */
    margin-left: 15px;
    text-align: justify;
}

.citacao {
    margin-bottom: 25px;
    color: #fff;
    font-size: 1.45rem;
    text-align: center;
    font-style: italic;
}

/* Animações */
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    90% {
        border-color: transparent;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media  (max-width: 1030px) {
    .titulo-ajude {
        font-size: 3rem; /* Menor tamanho para tablets */
        width: 24ch;
    }

    .texto-acolher {
        font-size: 1rem;
    }

    .Paul {
        font-size: 1.5rem;
        height: 300px;
    }

    .abrace {
        font-size: 2rem;
    }

    .dificuldade-missão {
        font-size: 1.2rem;
    }

    .foto-acolher {
        height: 100vh;
    }
    
}


.foto-desempenho{
    margin-top: -10px;
    margin-bottom: 20px;
    height: 60vh;
    background: url('../assets/quilombola1.JPG');
    background-position: center;
    background-size: cover;
}

.foto-lado{
    min-height: 50vh;

    background: url('../assets/rafa.jpg');
    background-position: center;
    background-size: cover;

}
.foto-ladoo{    
    min-height: 50vh;
    background: url('../assets/breno.jpg');
    background-position: center;
    background-size: cover;

}

.ajudar{
    font-size: 20px;
    margin-left: 25px;
    font-weight: 400;

}

.blur-cont{
    position: relative;
    align-items: center;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 2rem;
}

.blur{
    margin-left: 300px;
    position: absolute;
    box-shadow: 0px 0px 800px 50px #1877c4;
    z-index: -100;
    width: 200px;
   
}

.projetos{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.sub-projeto{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.frase {
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Sombra para dar destaque */
    text-align: center;
}

.texto-projeto{
    font-size: 22px;
    font-weight: 400;
    text-align: justify;
    padding: 10px;

}



.texto-projeto{
    font-size: 22px;
    font-weight: 400;
    text-align: justify;
}
.audio{
    height: 65vh;
   background: url('../assets/biblia.jpg');
   background-position: center;
   background-size: cover;
}

.audioo{
   
    background: url('../assets/audioio.jpg');
    background-position: center;
    background-size: cover;
 }

/* Responsividade */
@media (max-width: 1280px )  {
    .titulo-ajude {
        
        font-size: 3rem; /* Menor tamanho para tablets */
        width: 24ch;
    }

    .frase{
        font-size: 42px;
    } 
    .texto-acolher {
        font-size: 1rem;
    }

    .Paul {
        font-size: 1.5rem;
        height: 300px;
    }

    .abrace {
        font-size: 2rem;
    }

    .dificuldade-missão {
        font-size: 1.2rem;
    }

    .citacao{
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .titulo-ajude {
        font-size: 2.5rem; /* Tamanho adequado para smartphones */
        width: 24ch;
        animation: typing 3s steps(32), blinking 0.5s infinite step-end alternate;
    }

    .subtitulo-ajude {
        font-size: 1.25rem;
    }

    .frase{
        font-size: 27px;
    }
    .Paul {
        font-size: 1.2rem;
        height: 250px;
    }

    .abrace {
        font-size: 1.875rem;
    }

    .dificuldade-missão {
        font-size: 1rem;
    }

    .foto-acolher {
        height: 100vh;
        background-position: center;
    }
    .texto-acolher {
        font-size: 1rem;
    }

    
}

@media (max-width: 480px) {
    .titulo-ajude {
        font-size: 1.7rem; /* Tamanho bem reduzido para dispositivos muito pequenos */
        width: 24ch;
    }

    .subtitulo-ajude {
        font-size: 1rem;
    }

    .frase{
        font-size: 32px;
    }

    .Paul {
        font-size: 1rem;
        height: 300px;
    }

    .abrace {
        font-size: 1.5rem;
    }

    .dificuldade-missão {
        font-size: 0.875rem;
    }

    .foto-acolher, .isaque {
        height: 55vh;
        background-size: cover;
    }
}
